/* Homepage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 14px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.navbar-links {
    display: flex;
    flex-direction: row;
}
/* Responsive for homepage */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .navbar-links a {
        padding: 10px;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }
    .navbar .menu-icon {
        display: block;
    }
    .navbar.responsive .navbar-links {
        display: flex;
    }
}

/* Login Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #4cae4c;
}