/* Homepage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e315;
    padding: 14px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.navbar-links {
    display: flex;
    flex-direction: row;
}
/* Responsive for homepage */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .navbar-links a {
        padding: 10px;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }
    .navbar .menu-icon {
        display: block;
    }
    .navbar.responsive .navbar-links {
        display: flex;
    }
}

/* Login Page */

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }
}

/* QR Page */
#html5-qrcode-anchor-scan-type-change {
    text-decoration: none;
    color: #1d9bf0;
}
 
video {
    width: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 0.25em;
}

#qr-scanner {
    padding: 20px;
    border: 1.5px solid #b2b2b2;
    border-radius: 8px;
}

#qr-scanner img[alt="Info icon"] {
    display: none;
}
 
#qr-scanner img[alt="Camera based scan"] {
    width: 100px;
    height: 100px;
}

.qr-container {
    width: 100%;
    max-width: 500px;
    margin: 5px;
}
 
.qr-container h1 {
    color: #ffffff;
}

.qr-section {
    background-color: #ffffff;
    padding: 50px 30px;
    border: 1.5px solid #b2b2b2;
    border-radius: 0.25em;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}